<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>

<head>
	<meta charset="UTF-8">
	<title> Login </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
	<link rel="stylesheet" href="static/auth.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body>
	<div class="auth-container">
		<div class="border">
			<div class="header">
				<h1 class="word">Login</h1>
			</div>
			<h2 class="word">
				<form action="{{ url_for('login') }}" method="post">
					<div class="msg">{{ msg }}</div>
					<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" />
					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" />
					<input type="submit" class="submit-btn" value="Sign In">
				</form>
			</h2>
			<p class="bottom">Dont't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
		</div>
	</div>
</body>

</html>