<html>

<head>
  <title>Prompt</title>
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body>

  <div class="container">
    <form method="POST" action="/user">
      <input id="comm" type="text" name="command" placeholder="Command" class="textbox">
      <div class="shell">
        > $
      </div>
      <button class="btn-exec">Execute</button>
    </form>
    <p>{{var}}</p>
  </div>
</body>

</html>